
{{ form_start(form) }}
	<div class="my-custom-class-for-errors">
		{{ form_errors(form) }}
	</div>
	{# {{dump(form)}} #}
	{# {% set key = form.diplome.vars.choices|first %} #}
	{# {% set sali = form.diplome %} #}

	<div class="row">
		
		{% if is_granted('ROLE_SECRETAIRE') %}
			<div class="col col-md-6 mb-5">
				<label for="demande_etat" class="fx-text-dark h5 col-form-label-lg"> 
					{{ form_label(form.etatSecretaire, 'Demande Etat :') }}
				</label>
				{{ form_widget(form.etatSecretaire, {'attr': {'class': 'form-control form-control-lg'}}) }}
				{% if form.etatSecretaire.vars.value == 1 %}
					<span class="text-success"> La demande a été validée par la Secretaire </span>
				{% elseif form.etatSecretaire.vars.value == 0 %}
					<span class="text-danger"> La demande a été annulée par la Secretaire </span>
				{% elseif form.etatSecretaire.vars.value == 2 %}
					<span class="text-warning"> La demande est en cours de traitement </span>
				{% endif %}
			</div>
		{% endif%}

		{% if is_granted('ROLE_DIRECTEUR') %}
		<div class="col col-md-6 mb-5">
			<label for="demande_etat" class="fx-text-dark h5 col-form-label-lg"> 
				{{ form_label(form.etatDirecteurPd, 'Demande Etat :') }} 
			</label>
			{{ form_widget(form.etatDirecteurPd, {'attr': {'class': 'form-control form-control-lg'}}) }}
			{% if form.etatDirecteurPd.vars.value == 1 %}
				<span class="text-success"> La demande a été validée par le Directeur pedagoqique </span>
			{% elseif form.etatDirecteurPd.vars.value == 0 %}
				<span class="text-danger"> La demande a été annulée par le Directeur pedagoqique </span>
			{% elseif form.etatDirecteurPd.vars.value == 2 %}
				<span class="text-warning"> La demande est en cours de traitement </span>
			{% endif %}
		</div>
		{% endif%}

		{% if is_granted('ROLE_ETABLISSEMENT') %}
			<div class="col col-md-6 mb-5">
				<label for="demande_etat" class="fx-text-dark h5 col-form-label-lg"> 
					{{ form_label(form.etatDirecteurGn, 'Demande Etat :') }} 
				</label>
				{{ form_widget(form.etatDirecteurGn, {'attr': {'class': 'form-control form-control-lg'}}) }}
				{% if form.etatDirecteurGn.vars.value == 1 %}
					<span class="text-success"> La demande a été validée par L'Etablissement </span>
				{% elseif form.etatDirecteurGn.vars.value == 0 %}
					<span class="text-danger"> La demande a été annulée par L'Etablissement </span>
				{% elseif form.etatDirecteurGn.vars.value == 2 %}
					<span class="text-warning"> La demande est en cours de traitement </span>
				{% endif %}
			</div>
		{% endif%}
		
		<object type="application/pdf" width="100%" height="100%" class="fx-height-500">
			<param name="src" value="{{ asset('uploads/diplomeLaureat/'~ form.vars.data.diplome.fichier) }}" />
			<p>Si le fichier n'est pas visible.
				<a href="{{ asset('uploads/diplomeLaureat/'~ form.vars.data.diplome.fichier) }}">click ici pour le telecharger.</a>
			</p>
		</object>
	</div>
	<div class="text-center mt-4">
		<button class="btn btn-widest btn-tall btn-primary">
			<i data-feather="save" class="pr-1"></i>
			<span class="pr-2">{{ button_label|default('valider demande') }}</span>
		</button>
	</div>
{{ form_end(form) }}
