{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% set vars = {'profileDip':'true'} %}
<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <!-- Include Profile Information -->
      <div class="col-lg-4">
        {{ include('laureat/layout/_profile_information.html.twig') }}
      </div><!-- ./End Col -->

      <div class="col-lg-8">
        <div class="fx-card fx-card-tabs"> 
          <!-- Include Profile Navigation-->
          <div class="fx-card-head">
            {% include('laureat/layout/_profile_navigation.html.twig') with vars %}
          </div> 
          <!-- card Body -->
          <div class="fx-card-body"> 
            <h5 class="card-title">Information</h5> 
            
            {% if verif == 0 %}
              <div class="card-body">
                <p>Aucun diplome trouvé.</p>
              </div>
            {% endif %}
            {% for diplomes in diplomesAuth %}
              {% if diplomes.date_obtention is null %}
                <div class="card-body">
                  <a>
                    <img src="{{ asset('images/pdff.png') }}" style="width: 6%;height: 6%">
                  </a>
                  <b style="color: grey">Diplome En cours</b>
                </div>
              {% else %}
                <div class="card-body">
                  <a href="{{ asset('uploads/DiplomesAuthentifies/'~diplomes.fichier ) }}" target="_blanck">
                    <img src="{{ asset('images/pdff.png') }}" style="width: 6%;height: 6%">
                  </a>
                  <b style="color: #5578eb">Diplome Authentifié <i class="fas fa-check-circle"></i></b>
                  <b style="margin-left: 55%;color: grey;font-size: small">{{ diplomes.date_obtention }}</b>
                </div>
              {% endif %}
            {% endfor %}
            
          </div>
        </div>
      </div><!-- ./End Col -->
    </div>
  </div>
</div>
{% endblock %}
