{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
{% set vars = {'profileDip':'true'} %}
<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <!-- Include Profile Information -->
      <div class="col-lg-4">
        {{ include('laureat/layout/_profile_information.html.twig') }}
      </div><!-- ./End Col -->

      <div class="col-lg-8">
        <div class="fx-card fx-card-tabs"> 
          <!-- Include Profile Navigation-->
          <div class="fx-card-head">
            {% include('laureat/layout/_profile_navigation.html.twig') with vars %}
          </div> 
          <!-- card Body -->
          <div class="fx-card-body"> 
            {{ form_start(form,{'action': path('laureat_modif', {'id': laureat.id}), 'method': 'POST'}) }}
              <div class="form-group row">
                <div class="col-lg-6 mb-3">
                  <label>Full Name:</label>
                  <div class="fx-input">
                    {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom' } }) }}
                  </div>
                </div>

                <!-- Prenom -->
                <div class="col-lg-6 mb-3">
                  <label>Prénom:</label>
                  <div class="fx-input">
                    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom' } }) }}
                  </div>
                </div>

                <!-- Pseudo Name -->
                <div class="col-lg-6 mb-3">
                  <label>Pseudo Name:</label>
                  <div class="fx-input">
                    {{ form_widget(form.pseudo, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom' } }) }}
                  </div>
                </div>

                <!-- Adresse -->
                <div class="col-lg-6 mb-3">
                  <label>Adresse:</label>
                  <div class="fx-input">
                    {{ form_widget(form.addresse, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse' } }) }}
                  </div>
                </div>

                <!-- Email -->
                <div class="col-lg-6 mb-3">
                  <label>Email Adresse:</label>
                  <div class="fx-input">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email' } }) }}
                  </div>
                </div>

                <!-- Telephone -->
                <div class="col-lg-6 mb-3">
                  <label>Nemuro de telephone:</label>
                  <div class="fx-input">
                    {{ form_widget(form.telephone, { 'attr': {'class': 'form-control', 'placeholder': 'Téléphone' } }) }}
                  </div>
                </div>

                <!-- Date Naissance -->
                <div class="col-lg-6 mb-3">
                  <label>Date De Naissance:</label>
                  <div class="fx-input">
                    {{ form_widget(form.datenaissance, { 'attr': {'class': 'form-control', 'placeholder': 'Date de naissance' } }) }}
                  </div>
                </div>

                <!-- Avatar -->
                <div class="col-lg-6 mb-3">
                  <label>Avatar:</label>
                  <div class="fx-input">
                    {{ form_widget(form.photoUrl, { 'attr': {'class': 'form-control', 'placeholder': 'Photo' } }) }}
                  </div>
                </div>

                <!-- CIN -->
                <div class="col-lg-6 mb-3">
                  <label>Cin Number:</label>
                  <div class="fx-input">
                    {{ form_widget(form.cinNumSejour, { 'attr': {'class': 'form-control', 'placeholder': 'Cin ou Num séjour' } }) }}
                  </div>
                </div>

                <!-- Lieu De Naissance -->
                <div class="col-lg-6 mb-3">
                  <label>Lieu De Naissance :</label>
                  <div class="fx-input">
                    {{ form_widget(form.lieuNaissance, { 'attr': {'class': 'form-control', 'placeholder': 'Lieu de naissance' } }) }}
                  </div>
                </div>

                <!-- Nationalite -->
                <div class="col-lg-6 mb-3">
                  <label>Nationalité :</label>
                  <div class="fx-input">
                    {{ form_widget(form.nationalite, { 'attr': {'class': 'form-control', 'placeholder': 'Nationalité' } }) }}
                  </div>
                </div>

                <!-- Arabe Name -->
                <div class="col-lg-6 mb-3">
                  <label>Nom en Arabe :</label>
                  <div class="fx-input">
                    {{ form_widget(form.nomArabe, { 'attr': {'class': 'form-control', 'placeholder': 'Nom en arabe' } }) }}
                  </div>
                </div>

                <!-- Prenom Name -->
                <div class="col-lg-6 mb-3">
                  <label>Prénom en Arabe :</label>
                  <div class="fx-input">
                    {{ form_widget(form.prenomArabe, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom en arabe' } }) }}
                  </div>
                </div>

              </div>
              <div class="mt-4">
                <button type="submit" class="btn btn-success btn-block">Enregistrer</button> 
              </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div><!-- ./End Col -->
    </div>
  </div>
</div>
{% endblock %}
