{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="bg-light py-5">
        <div class="container">
            <div class="bg-white shadow-sm mb-4">
                <div class="px-4 py-5">
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                        <div class="profile-Info">
                            <div class="d-flex align-items-center">
                            <img class="fx-avatar fx-avatar-squre fx-avatar-bordered shadow-lg d-inline-block fx-avatar-xl rounded-circle" 
                                src="
                                {% if laureat.photoUrl %} 
                                    {{ asset('uploads/imagesLaureat/'~ laureat.photoUrl) }}
                                {% else %}
                                    /build/avatar.jpg
                                {% endif %}
                                "
                                alt="Image Description" />
                                <div class="ml-4">
                                    <h2 class="fx-text-dark mb-2 h4">
                                        <span class="align-middle">{{ laureat.prenom }} {{ laureat.nom }}</span> 
                                    </h2>
                                    <p class="fx-font-size-1 mb-1 fx-text-label-2"> From : {{ laureat.nationalite }} </p>
                                    <p class="fx-font-size-1 mb-1 fx-text-label-2">  
                                        <i class="align-middle" data-feather="map-icon"></i> 
                                        <span class="align-middle">{{ laureat.datenaissance|date("m/d/Y") }}</span> 
                                    </p>
                                    <p class="fx-font-size-1 mb-1 fx-text-label-2">
                                        <span class="align-middle">{{ laureat.email }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-actions">
                            <!-- Edit Profile -->
                            <a class="btn btn-lg btn-brand" href="{{ path('laureat_modif', {'id': laureat.id}) }}">
                                <i class="mr-2" data-feather="edit"></i>
                                Edit Profile
                            </a>
                            <!-- End Edit Profile -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="fx-card fx-card-tabs">
                <div class="fx-card-head">
                    <div class="fx-card-head-container">
                        <h3 class="fx-card-head-title">
                            Compte Information
                        </h3>
                    </div>
                    <div class="fx-card-head-toolbar">
                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-right nav-tabs-line-2x" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#" role="tab">
                                    Mes diplomes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="{{ path('laureat_etablissement', {'id': laureat.id}) }}" role="tab">
                                    Etablissement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="{{ path('laureat_apropos', {'id': laureat.id}) }}" role="tab">
                                    À propos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="{{ path('laureat_desactiver', {'id': laureat.id}) }}" role="tab">
                                    Désactiver compte
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- card Body -->
                <div class="fx-card-body">
                    <div class="card-header">
                        <h5 class="card-title">Information</h5>
                    </div>
                    <div class="card-body">

                        <p class="card-text">Aucun diplome trouvé.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
