{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% set vars = {'profileDip':'true'} %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="row">
      <!-- Include Profile Information -->
      <div class="col-lg-4">
        {{ include('laureat/layout/_profile_information.html.twig') }}
      </div><!-- ./End Col -->

      <div class="col-lg-8">
        <div class="fx-card fx-card-tabs"> 
          <!-- Include Profile Navigation-->
          <div class="fx-card-head">
            {% include('laureat/layout/_profile_navigation.html.twig') with vars %}
          </div> 
          <!-- card Body -->
          <div class="fx-card-body"> 
            <h5 class="card-title mb-5"> List Des Diplomes </h5>  
            {% if verif == 0 %}
              <div class="fx-alert fx-alert-primary">
                <p>Aucun diplome trouvé.</p>
              </div>
            {% endif %}
            <div class="row">
            {% for diplomes in diplomesAuth %}
              <!-- Card -->
              <div class="col-sm-6 col-md-6">
                {% if diplomes.date_obtention is null %}
                  <div class="fx-card border rounded mb-5">
                    <div class="fx-card-body">
                      <div class="text-center mb-4">
                        <a href="{{ asset('uploads/diplome-laureat/'~diplomes.fichier ) }}" target="_blanck">
                          <div class="fx-avatar fx-avatar-circle fx-avatar-bordered shadow-lg d-inline-block fx-avatar-lg text-center fx-bg-warning">
                            <i data-feather="download" class="text-light align-items-center h-100"></i>
                          </div>
                        </a>
                        <h3 class="h6 fx-text-bold fx-text-dark mt-5 mb-3">
                          <i data-feather="loader" class="text-danger"></i>
                          <span class="pl-2"> Diplome En Cours De Validation </span>
                        </h3>
                        <p class="mb-0">
                          <a href="#" class="fx-font-size-1 text-secondary">
                            <i data-feather="calendar" class="align-middle" width="18" height="18"></i>
                            <span class="align-middle pl-2"> date Depot :</span>
                            <span class="align-middle">{{ diplomes.date_depot }}</span>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="fx-card border rounded mb-5">
                    <div class="fx-card-body">
                      <div class="text-center mb-4">
                        <a href="{{ asset('uploads/diplomes-authentifies/'~diplomes.fichier ) }}" target="_blanck">
                          <div class="fx-avatar fx-avatar-circle fx-avatar-bordered shadow-lg d-inline-block fx-avatar-lg text-center fx-bg-success">
                            <i data-feather="download" class="text-light align-items-center h-100"></i>
                          </div>
                        </a>
                        <h3 class="h6 fx-text-bold fx-text-dark mt-5 mb-3">
                          <i data-feather="check" class="text-success"></i>
                          <span class="pl-2"> Diplome Authentifié </span>
                        </h3>
                        <p class="mb-0">
                          <a href="#" class="fx-font-size-1 text-secondary">
                            <i data-feather="calendar" class="align-middle" width="18" height="18"></i>
                            <span class="align-middle pl-2"> date Validation :</span>
                            <span class="align-middle">{{ diplomes.date_obtention }}</span>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            </div><!-- ./End Row -->
          </div>
        </div>
      </div><!-- ./End Col -->
    </div>
  </div>
</div>
{% endblock %}
