{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% set vars = {'profileEtab':'true'} %}
<div class="bg-light py-5">
  <div class="container">
      {% for message in app.flashes('succes') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
      {% endfor %}
      <div class="row">
        <!-- Include Profile Information -->
        <div class="col-lg-4">
          {{ include('laureat/layout/_profile_information.html.twig') }}
        </div><!-- ./End Col -->

          <div class="col-lg-8">
            <div class="fx-card fx-card-tabs">
              <!-- Include Profile Navigation-->
              <div class="fx-card-head">
                {% include('laureat/layout/_profile_navigation.html.twig') with vars %}
              </div>
              <!-- card Body -->
              <div class="fx-card-body">
                <!-- Ajouter Diplome -->
                <form method="post" action="{{ path('laureat_etablissement',{'id': laureat.id}) }}">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Rechercher un etablissement"  name="name">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" id="button-addon2" >
                        <i data-feather="search" width="18" height="18" class="pr-1"></i>
                      </button>
                    </div>
                  </div>
                </form> 
                <div>
                  {% if(name | length != 0 and etablissements | length != 0) %}
                  
                    <div class="row">
                    {% for etablissement in etablissements %}
                      <!-- Card -->
                      <div class="col-md-6">
                        <div class="card mb-5">
                          <div class="card-body p-4">
                            <!-- List of Icons -->
                            <div class="row justify-content-between align-items-center mb-4">
                              <div class="col-6">
                                <a class="small text-secondary" href="#">
                                  <i data-feather="bookmark" class="fx-text-brand mr-1"></i> REF: 1274521
                                </a>
                              </div>
                              <div class="col-6 text-right">
                                <!-- Settings -->
                                <div class="dropdown dropdown-inline ml-4">
                                  <button class="btn btn-light btn-shadow btn-sm btn-rounded btn-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="more-vertical"></i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item disable" href="#" onclick="showForm()" id="oo" data-toggle="modal" data-target="#newdemandemodal">
                                      <i data-feather="file" class="pr-2 align-middle"></i>
                                      <span class="align-middle">Ajouter Diplome</span>
                                    </a>
                                  </div>
                                </div>
                                <!-- ./End Settings -->
                              </div>
                            </div>
                            <!-- ./End List of Icons -->
                            <!-- List of Info-->
                            <div class="text-center"> 
                              <figure class="figure-img">
                                <img class="fx-avatar fx-avatar-squre fx-avatar-bordered shadow-lg d-inline-block fx-avatar-lg" 
                                src="
                                {% if laureat.photoUrl %} 
                                    {{ asset('uploads/imagesProfiles/'~ etablissement.photoUrl) }}
                                {% else %}
                                    /build/etablissment.svg
                                {% endif %}
                                "
                                alt="Image Description" />
                              </figure>
                              <div class="text-center mt-5 mb-4">
                                <h5 class="h5 fx-text-bold fx-text-dark mb-2">{{ etablissement.nomEtablissement }}</h5>
                                <p class="pb-1 fx-font-size-1 align-middle mb-0">
                                  {{ etablissement.addresse }}
                                </p>
                              </div>
                            </div>
                            <!-- ./End List of Info-->
                          </div>
                        </div>
                      </div>
                      <!-- ./End Card -->
                    {% endfor %}
                  </div>
                  {% elseif (etablissements | length == 0 and name | length != 0) %}
                    <div class="alert alert-danger" role="alert">
                      Aucun etablissement trouvé pour le nom <b>{{ name }}</b>
                    </div>
                  {% endif %}
                </div> 
              </div>
            </div>
            
          </div><!-- ./End Col -->
      </div>
  </div>
</div>

<!-- Add Diplome Modal -->
<div class="modal fade" id="newdemandemodal" tabindex="-1" role="dialog" aria-labelledby="NewDomandeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-times" id="return" style="position: absolute;margin-left: 92%" ></i>
        <h5 class="card-title">Ajouter un diplome</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <b data-feather="x">&times;</b>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-layer">
           {{ form_start(form,{'action': path('laureat_etablissement', {'id': laureat.id}), 'method': 'POST'}) }}
            <div class="mb-3">
              <label for="form-file">Fichier (PDF)</label>
              <div> 
                {{ form_widget(form.fichier, { 'attr': {'class': 'form-control', 'placeholder': 'fichier','required':'true', 'id': 'form-file' } }) }}
              </div> 
            </div>

            <div class="mb-3">
              <label for="form-date">Année</label>
              <div>
                {{ form_widget(form.annee, { 'attr': {'class': 'form-control', 'placeholder': 'Année','required':'true', 'id': 'form-date' } }) }}
              </div>
            </div>
            
            <div class="mb-3">
              <label for="form-diplome">Type diplome</label>
              <div>
                {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Type diplome','required':'true', 'id': 'form-diplome' } }) }}
              </div>
            </div>

            <div class="mb-3">
              <label for="form-specialite">Spécialité</label>
              <div>
                {{ form_widget(form.specialite, { 'attr': {'class': 'form-control', 'placeholder': 'Spécialité','required':'true', 'id': 'form-specialite' } }) }}
              </div>
            </div>

            <input type="hidden" class="form-control"  value="{{ name }}" name="id">
            <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
            {{ form_end(form) }}
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}




