{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('validationSteps') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('validationSteps') }}
{% endblock %}

{% block title %}Neuvau directeur{% endblock %}

{% block body %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="fx-card fx-card-tabs">
      <div class="fx-card-head align-items-center">
        <div class="fx-card-head-container">
          <h3 class="fx-card-head-title text-capitalize">
            Ajouter un directeur
          </h3>
        </div>
        <div class="fx-card-head-toolbar">
          <div>
            <a href="{{ path('directeur_pedagogique_index') }}" class="btn btn-dark mb-0">
              <i data-feather="arrow-left" class="pr-1"></i>
              <span class="pl-1 align-middle">Back to LIst</span>
            </a>
          </div>
        </div>
      </div>
      <div class="fx-card-body">
        <div class="fx-w-100 registration-form px-3">
          {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger mb-4" role="alert">{{ flashError }}</div>
          {% endfor %}
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
          <div class="security-form fx-w-100">
            <div>
              {# {{ form(registrationForm) }}  #}
              {{ form_start(registrationForm, {'attr': {'id': 'steps-etablissment-register-form'}}) }}
                <div class="row">
                  <div class="col-12 mb-4">
                    {{ form_widget(registrationForm.pseudo) }}
                  </div>
                  <div class="col-12 mb-4">
                    {{ form_widget(registrationForm.nom) }}
                  </div>
                  <div class="col-12 mb-4">
                    {{ form_widget(registrationForm.prenom) }}
                  </div>
                  <div class="col-12 mb-4">
                    {{ form_widget(registrationForm.email) }}
                  </div>
                  <div class="col-12 mb-4">
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'password'}}) }}
                  </div>
                  <div class="col-12 mb-4">
                    {{ form_widget(registrationForm.telephone) }}
                  </div>
                </div>
              {{ form_end(registrationForm) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


