{% extends 'base.html.twig' %}

{% block title %}directeur index{% endblock %}

{% block body %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="fx-card fx-card-tabs">
        <div class="fx-card-head align-items-center">
          <div class="fx-card-head-container">
            <h3 class="fx-card-head-title text-capitalize">
            Ajouter un directeur
            </h3>
          </div>
          <div class="fx-card-head-toolbar">
          <div>
            {# <a href="{{ path('directeur_new') }}" class="btn btn-dark mb-0">
              <i data-feather="plus" class="pr-1"></i>
              <span class="pl-1 align-middle">Ajouter Nouveau</span>
            </a> #}
          </div>
          </div>
        </div>
        <div class="fx-card-body">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Date De Naissance</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for directeur in directeurs_pedagogiques %}
            <tr>
                <td>{{ directeur.nom }}</td>
                <td>{{ directeur.prenom }}</td>
                <td>{{ directeur.telephone }}</td>
                <td>{{ directeur.datenaissance|date('Y-m-d') }}</td>
                <td>{{ directeur.email }}</td>
                <td class="text-center">
                  <a class="btn btn-danger btn-sm mb-0" href="{{ path('directeur_pedagogique_delete', {'id': directeur.id}) }}">
                    <i data-feather="trash" class="pr-1"></i>
                    <span class="pl-1 align-middle"> delete </span>
                  </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}