{% extends 'base.html.twig' %}

{% block title %}directeur index{% endblock %}

{% block body %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    {% for flashError in app.flashes('error') %}
      <div class="alert alert-danger mb-4" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashSeccuss in app.flashes('success') %}
      <div class="alert alert-success mb-4" role="alert">{{ flashSeccuss }}</div>
    {% endfor %}
    <div class="fx-card fx-card-tabs">
        <div class="fx-card-head align-items-center">
          <div class="fx-card-head-container">
            <h3 class="fx-card-head-title text-capitalize">
            List Des directeurs
            </h3>
          </div>
          <div class="fx-card-head-toolbar">
          <div>
            <a href="/etablissement/register-account?accountType=directeur_pedagogique" class="btn btn-dark mb-0">
              <i data-feather="plus" class="pr-1"></i>
              <span class="pl-1 align-middle">Ajouter Nouveau</span>
            </a>
          </div>
          </div>
        </div>
        <div class="fx-card-body">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Date De Naissance</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for directeur in directeurs_pedagogiques %}
            <tr>
                <td>{{ directeur.nom }}</td>
                <td>{{ directeur.prenom }}</td>
                <td>{{ directeur.telephone }}</td>
                <td>{{ directeur.datenaissance|date('Y-m-d') }}</td>
                <td>{{ directeur.email }}</td>
                <td class="text-center">
                  {% if directeur.deleted %}
                    <form class="d-inline-block" method="post" action="{{ path('directeur_pedagogique_activate', {'id': directeur.id}) }}" onsubmit="return confirm('Are you sure you want to Activate this item Again?');">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ directeur.id) }}">
                      <button class="btn btn-success">
                        <i data-feather="trash" class="pr-2"></i>
                        <span class="align-middle"> Activate </span>
                      </button>
                    </form>
                  {% else %}
                    <form class="d-inline-block" method="post" action="{{ path('directeur_pedagogique_desactivate', {'id': directeur.id}) }}" onsubmit="return confirm('Are you sure you want to desactivate this item?');">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="_token" value="{{ csrf_token('desactivate' ~ directeur.id) }}">
                      <button class="btn btn-danger">
                        <i data-feather="trash" class="pr-2"></i>
                        <span class="align-middle"> desactivate </span>
                      </button>
                  </form>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}