{% extends 'base.html.twig' %}

{% block title %}Mes Diplomes{% endblock %}

{% block body %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="fx-card fx-card-tabs">
      <div class="fx-card-head align-items-center">
        <div class="fx-card-head-container">
          <h3 class="fx-card-head-title text-capitalize">
            Mes Diplomes
          </h3>
        </div>
        <div class="fx-card-head-toolbar">
          <div>
            <a href="{{ path('diplome_new') }}" class="btn btn-dark mb-0">
              <i data-feather="plus" class="pr-1"></i>
              <span class="pl-1 align-middle">Ajouter un deiplome</span>
            </a>
          </div>
        </div>
      </div>
      <div class="fx-card-body">
        {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Fichier</th>
                <th>DateObtention</th>
                <th>Date Depot</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.id }}</td>
                <td>{{ diplome.code }}</td>
                <td>{{ diplome.fichier }}</td>
                <td>{{ diplome.dateObtention ? diplome.dateObtention|date('Y-m-d') : '' }}</td>
                <td>{{ diplome.dateDepot ? diplome.dateDepot|date('Y-m-d') : '' }}</td>
                <td>{{ diplome.annee ? diplome.annee|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('diplome_show', {'id': diplome.id}) }}">show</a>
                    <a href="{{ path('diplome_edit', {'id': diplome.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}
      </div>
    </div>
  </div>
</div>
{% endblock %}
