<div class="bg-white shadow-sm mb-4">
  <div class="px-4 py-5">
    <div class="text-center">
      <div class="profile-Info"> 
        <img class="fx-avatar fx-avatar-squre fx-avatar-bordered shadow-lg d-inline-block fx-avatar-xl rounded-circle" 
        src="
        {% if entreprise.photoUrl %} 
            {{ asset('uploads/imagesProfiles/'~ entreprise.photoUrl) }}
        {% else %}
            /build/avatar.jpg
        {% endif %}
        "
        alt="Image Description" />
        <div class="ml-4 my-5">
          <h2 class="fx-text-dark mb-2 h4">
            <span class="align-middle">{{ entreprise.nomEntreprise }}</span>
          </h2>
          <p class="fx-font-size-1 mb-1 fx-text-label-2">  
            <i class="align-middle pr-2" data-feather="calendar"></i>
            <span class="align-middle">{{ entreprise.datenaissance|date("m/d/Y") }}</span> 
          </p>
          <p class="fx-font-size-1 mb-1 fx-text-label-2">
            <i class="align-middle pr-2" data-feather="mail"></i>
            <span class="align-middle">{{ entreprise.email }}</span>
          </p>
        </div> 
      </div>
    </div>
    <div class="profile-actions text-center">
      <!-- Edit Profile -->
      <a class="btn btn-dark" href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">
        <i data-feather="edit-3" class="pr-2"></i>
        Edit Profile
      </a>
      {{ include('entreprise/_delete_form.html.twig') }}
    </div>
  </div>
</div>
