<div class="bg-white shadow-sm mb-4">
  <div class="px-4 py-5">
    <div class="text-center">
      <div class="profile-Info"> 
        <img class="fx-avatar fx-avatar-squre fx-avatar-bordered shadow-lg d-inline-block fx-avatar-xl rounded-circle" 
        src="
        {% if etablissement.photoUrl %} 
            {{ asset('uploads/imagesLaureat/'~ etablissement.photoUrl) }}
        {% else %}
            /build/avatar.jpg
        {% endif %}
        "
        alt="Image Description" />
        <div class="ml-4 my-5">
          <h2 class="fx-text-dark mb-2 h4">
              <span class="align-middle">{{ etablissement.nomEtablissement }}</span> 
          </h2>
          <p class="fx-font-size-1 mb-1 fx-text-label-2"> 
            <i class="align-middle pr-2" data-feather="flag"></i>
            Pays : {{ etablissement.pays }} 
          </p>
          <p class="fx-font-size-1 mb-1 fx-text-label-2">  
            <i class="align-middle pr-2"></i> 
            <span class="align-middle">Adress:{{ etablissement.addresse  }}</span> 
          </p>
          <p class="fx-font-size-1 mb-1 fx-text-label-2">
            <i class="align-middle pr-2" data-feather="mail"></i>
            <span class="align-middle">Email:{{ etablissement.Email }}</span>
          </p>
          <p class="fx-font-size-1 mb-1 fx-text-label-2">  
            <i class="align-middle pr-2"></i> 
            <span class="align-middle">Tel:{{ etablissement.Telephone  }}</span> 
          </p>
        </div> 
      </div>
    </div>
    <div class="profile-actions text-center">
      <!-- Edit Profile -->
      <a class="btn btn-dark" href="{{ path('etablissement_edit', {'id': etablissement.id}) }}">
        <i data-feather="edit-3" class="pr-2"></i>
        Edit Profile
      </a>

         <!-- End Edit Profile -->
    </div>
  </div>
</div>
