{% extends 'base.html.twig' %}

{% block title %}TypeDiplome Index{% endblock %}

{% block body %}
<div class="fx-section-space-8 bg-light">
  <div class="container">
    <div class="fx-card fx-card-tabs">
      <div class="fx-card-head align-items-center">
        <div class="fx-card-head-container">
            <h3 class="fx-card-head-title text-capitalize">
                Diplome Type
            </h3>
        </div>
        <div class="fx-card-head-toolbar">
            <div>
                <a href="{{ path('type_diplome_new') }}" class="btn btn-danger mb-0">
                    <i data-feather="plus" class="pr-1"></i>
                    <span class="pl-1 align-middle">ajouter Type</span>
                </a>
            </div>
        </div>
      </div>
      <div class="fx-card-body">
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_diplome in type_diplomes %}
            <tr>
                <td>{{ type_diplome.id }}</td>
                <td>{{ type_diplome.designation }}</td>
                <td>{{ type_diplome.description }}</td>
                <td>
                    <a class="btn btn-brand btn-sm mb-0" href="{{ path('type_diplome_show', {'id': type_diplome.id}) }}">
                        <i data-feather="eye" class="pr-1"></i>
                        <span class="pl-1 align-middle"> show </span>
                    </a>
                    <a class="btn btn-warning btn-sm mb-0" href="{{ path('type_diplome_edit', {'id': type_diplome.id}) }}">
                        <i data-feather="edit-3" class="pr-1"></i>
                        <span class="pl-1 align-middle"> edit </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}