<!-- ========== HEADER ========== --> 
  <nav class="main-nav light-menu border-bottom">
    <div class="relative clearfix" style="padding-left: 30px;padding-right:30px;">
      <!-- Logo ( * your text or image into link tag *) -->
      <div class="nav-logo-wrap local-scroll">
        <a href="/" class="logo pl-md-0 pl-3 fx-text-boldest">
          <!-- <img class="fx-w-100" src="../assets/img/logos/logo-dark.svg" alt="limbo logo" /> -->
          <span class="fx-text-primary fx-font-family-default"> Verification </span> 
          <span class="fx-text-dark fx-font-family-secondary"> Diplomes </span>
        </a>
      </div>

      <div class="mobile-nav">
        <div>
          <div class="hamburger-menu dark-menu"></div>
        </div>
      </div>

      <!-- Main Menu -->
      <div class="inner-nav float-right">
        <ul class="clearlist">
          {% if app.user %}
          <!-- Begin::SubMenu -->
          <li class="mr-2">
            <a href="/" class="active menu-link">
              <span> Accueil </span>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_ADMIN') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Menu admin </span>
              <i data-feather="chevron-down"></i>
            </a>
          </li>
          <!-- ./End SubMenu -->
          {% endif %}

          {% if is_granted('ROLE_ETABLISSEMENT') %}
          <!-- Begin::SubMenu -->
          <li>
            <a href="/demande/" class="menu-link">
              <span> demandes </span>
            </a>
          </li>
          <!-- ./End SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> laureats </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="{{path('laureat_index')}}">Afficher les laureats</a>
              </li>
              <li>
                <a href="{{path('laureat_new')}}">Ajouter un laureat</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <!-- ./End SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> specialitees </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/specialite/">Afficher les specialitees</a>
              </li>
              <li>
                <a href="/specialite/new">Ajouter une specialte</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <!-- ./End SubMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> directeurs </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="{{path('directeur_pedagogique_index')}}">Afficher les directeurs</a>
              </li>
              <li>
                <a href="{{path('directeur_pedagogique_new')}}">Ajouter un directeur</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <!-- ./End SubMenu -->
          
          {% endif %}

          {% if is_granted('ROLE_DIRECTEUR') %}
          <li>
            <a href="/demande/" class="menu-link">
              <span> Demandes </span>
            </a>
          </li>
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> specialites </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/specialite/">Afficher les specialites</a>
              </li>
              <li>
                <a href="/specialite/new">Ajouter une specialite</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <li>
            <a href="/typeDiplome/" class="menu-link">
              <span> Type Diplomes </span>
            </a>
          </li>
          {% endif %}

          {% if is_granted('ROLE_ENTREPRISE') %}
          <!-- Begin::LinkMenu -->
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Demandes </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/demande/">afficher les demandes</a>
              </li>
              <li>
                <a href="/demande/new">ajouter une demande</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          <!-- ./End SubMenu -->
          <!-- ./End LinkMenu -->
          {% endif %}

          {% if is_granted('ROLE_SECRETAIRE') %}
          <li>
            <a href="/demande/" class="menu-link">
              <span> Demandes </span>
            </a>
          </li>
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> specialites </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/specialite/">Afficher les specialites</a>
              </li>
              <li>
                <a href="/specialite/new">Ajouter une specialite</a>
              </li>
            </ul>
            <!-- ./End Sub -->
          </li>
          {% endif %}

          {% if is_granted('ROLE_LAUREAT') %}
          <li>
            <a href="#" class="mn-has-sub menu-link">
              <span> Mes demandes </span>
              <i data-feather="chevron-down"></i>
            </a>

            <!-- Sub -->
            <ul class="mn-sub to-left py-4">
              <li>
                <a href="/demande/">afficher mes demandes</a>
              </li>
              {# <li>
                <a href="/demande/new">ajouter une demande</a>
              </li> #}
            </ul>
            <!-- ./End Sub -->
          </li>
          {% endif %}

          <!-- ./End LinkMenu -->
          {% if app.user %}
          <!--begin::User-->
          <li class="ml-2">
            <a href="#" class="mn-has-sub menu-link">
              <div class="user-menu">
                <span class="font-weight-bold d-none d-md-inline mr-1">Bonjour,</span>
                <span class="font-weight-bolder d-none d-md-inline mr-2">{{ app.user.email }}</span>
                <span class="btn btn-md btn-soft-primary"> 
                {% if app.user.nom|first %} 
                  {{ app.user.nom|first }}
                  {% else %}
                  U
                {% endif %}
                </span>
                <i data-feather="chevron-down"></i>
              </div>
            </a>

            <!-- Sub Multilevel -->
            <ul class="mn-sub to-left mn-has-multi fx-width-300">
              <!-- Header Sub -->
              <li class="header-sub-menu border-bottom">
                <!-- Head -->
                <div class="d-flex align-items-center justify-content-start p-3">
                  <!-- Avatar -->
                  <div class="d-inline-block position-relative mr-4">
                    <img class="fx-avatar fx-avatar-md rounded-circle fx-avatar-bordered shadow-lg d-inline-block" 
                    src="
                      {% if app.user.photoUrl %} 
                        {{ asset('uploads/imagesProfiles/'~ app.user.photoUrl)|imagine_filter('my_thumb') }}
                      {% else %}
                        /build/avatar.jpg
                      {% endif %}
                      "
                    alt="Image Description">
                  </div>
                  <!-- ./End Avatar -->
                  <!-- User -->
                  <div class="text-dark m-0 flex-grow-1 mr-3 font-size-h5">
                    <h4 class="fx-text-dark h5 font-weight-bold text-capitalize mb-2"> 
                      {% if app.user.nom %} 
                        {{ app.user.nom }}
                      {% else %}
                        {{ app.user.email }}
                      {% endif %}
                    </h4>
                  </div>
                  <!-- ./End User-->
                </div>
                <!-- ./End Head -->
              </li>
              <!-- ./End Header Sub -->             
              <li>
                <!-- Item -->
                {% set profilerole, profileModif = "", "" %}
                {% if is_granted('ROLE_ETABLISSEMENT') %}
                  {% set profilerole, profileModif  = 'etablissement_show', 'etablissement_edit' %}
                {% elseif is_granted('ROLE_DIRECTEUR') %}
                  {% set profilerole, profileModif = 'directeur_pedagogique_show', 'directeur_pedagogique_edit' %}
                {% elseif is_granted('ROLE_ENTREPRISE') %}
                  {% set profilerole, profileModif = 'entreprise_show', 'entreprise_edit' %}
                {% elseif is_granted('ROLE_SECRETAIRE') %}
                  {% set profilerole, profileModif = 'secretaire_show', 'secretaire_edit' %}
                {% elseif is_granted('ROLE_LAUREAT') %}
                  {% set profilerole, profileModif = 'laureat_diplome', 'laureat_modif' %}
                {% elseif is_granted('ROLE_ADMIN') %}
                  {% set profilerole, profileModif = 'admin_show', 'admin_modif' %}
                {% endif %}
                <a href="{{ path(profilerole, {'id': app.user.id}) }}" class="p-3">
                  <div class="media align-items-center">
                    <div class="media-head mr-4">
                      <div class="fx-badge fx-badge-transparent-warning fx-badge-xl">
                        <i data-feather="user" class="fx-text-success"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="font-weight-bold h6">My Profile</h5>
                      <p class="text-muted fx-font-size-1">Account settings and more!! </p>
                    </div>
                  </div>
                </a>
                <!-- ./End Item -->
              </li>
              <li>
                <!-- Item -->
                <a href="{{ path(profileModif, {'id': app.user.id}) }}" class="p-3">
                  <div class="media align-items-center">
                    <div class="media-head mr-4">
                      <div class="fx-badge fx-badge-transparent-success fx-badge-xl">
                        <i data-feather="edit" class="fx-text-success"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h5 class="font-weight-bold h6">Profile Modification</h5>
                      <p class="text-muted fx-font-size-1"> modifier votre profile </p>
                    </div>
                  </div>
                </a>
                <!-- ./End Item -->
              </li>
              
              <!-- Footer -->
              <li class="list-footer bg-light"> 
                <div class="p-3 d-flex justify-content-end">
                  <a href="/logout" class="btn btn-dark px-3 py-2 font-weight-bold fx-w-auto d-inline-block btn-sm fx-text-light">
                    <i data-feather="log-out" class="pr-1"></i>
                    <span class="pr-1 align-middle"> Deconnexion </span>
                  </a>
                </div> 
              </li>
              <!-- ./End Footer -->
            </ul>
            <!-- ./End Sub Multilevel -->
            <!-- ./End Sub -->
          </li>
          {% endif %}

          {% if app.user is null or app.user is empty %}
            <li class="mr-2">
              <span class="menu-link">
                <a href="/login" class="btn btn-brand text-light">
                  <i data-feather="log-in" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Connexion </span>
                </a>
              </span>
            </li>
          <li class="mr-2">
            <span class="mn-has-sub menu-link">
              <a href="#" class="btn btn-brand text-light">
                <span class="align-middle"> S'inscrire </span>
                <i data-feather="chevron-down" class="fx-svg-icon pr-2"></i>
              </a>
            </span>
            


          

            <!-- Sub Multilevel -->
            <ul class="mn-sub to-left mn-has-multi fx-width-300" style="padding: 4px">
            <li>
              <div style="margin:3px">
              <span class="">
                <a href="/register?accountType=etablissement" class="btn btn-brand text-light p-3">
                  <i data-feather="user" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Etablissement </span>
                </a>
              </span>
              </div>
            </li>
            <li>
            <div style="margin:3px">
              <span class="">
                <a href="/register?accountType=laureat" class="btn btn-brand text-light p-3">
                  <i data-feather="user" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Laureat </span>
                </a>
              </span>
              </div>
            </li>
            <li>
            <div style="margin:3px">
              <span class="">
                <a href="/register?accountType=secretaire" class="btn btn-brand text-light p-3">
                  <i data-feather="user" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Secretaire </span>
                </a>
              </span>
              </div>
            </li>
            <li>
            <div style="margin:3px">
              <span class="">
                <a href="/register?accountType=directeur_pedagogique" class="btn btn-brand text-light p-3">
                  <i data-feather="user" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Directeur Pedagogique </span>
                </a>
              </span>
              </div>
            </li>
            <li>
            <div style="margin:3px">
              <span class="">
                <a href="/register?accountType=entreprise" class="btn btn-brand text-light p-3">
                  <i data-feather="user" class="fx-svg-icon pr-2"></i>
                  <span class="align-middle"> Entreprise </span>
                </a>
              </span>
              </div>
            </li>
            </ul>




          </li>
          {% endif %}
        </ul>
      </div>
      <!-- ./End Main Menu -->
    </div>
  </nav> 
<!-- ========== ./END HEADER ========== -->